@font-face {
    font-family: 'ABC Arizona Serif';
    src: url('ABCArizonaSerif-Regular.woff2') format('woff2'),
        url('ABCArizonaSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Arizona Serif';
    src: url('ABCArizonaSerif-Light.woff2') format('woff2'),
        url('ABCArizonaSerif-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Arizona Serif';
    src: url('ABCArizonaSerif-Medium.woff2') format('woff2'),
        url('ABCArizonaSerif-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

